.footer{
    background-color: $secundario-1;
    &__text{
        padding-top: 3vh;
        padding-bottom: 4vh;
        display: block;
    }
    &__img{
        padding-top: 7vh;
        width: 25%;
    }
}