.footer{
    background-color: $secundario-1;
    &__text{
        padding-top: 3vh;
        padding-bottom: 3vh;
        text-decoration: none;
        color: $principal-1;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        list-style: none;
        margin-left: 6vh;
        margin-right: 6vh;
        justify-content: center;
        &:hover{
            text-decoration: none;
            color: $principal-1;
        }
    }
    &__img{
        padding-top: 5vh;
        width: 25%;
        min-width: 300px;
    }
    &__iconos{
        padding-top: 4vh;
        padding-bottom: 4vh;
        min-width: 24px;
        max-width: 32px;
        
    }
}